# Core dependencies
-r requirements.txt

# Development and testing dependencies
pytest>=7.4.0,<8
requests-mock>=1.11.0,<2
pytest-cov>=4.1.0,<5  # For test coverage reports
flake8>=6.1.0,<7      # For code linting
black>=23.9.1,<24      # For code formatting
mypy>=1.6.0,<2        # For type checking
Flask>=2.3.3,<3
ruff>=0.7.2,<1
pre_commit>=4.0.1,<5
